/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/manrope-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/manrope-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue:hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue:hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --font-family: 'Manrope', sans-serif;
  --font-size: calc(13 / 16 * 1rem);
  --mobile-layout: calc(375 / 16 * 1rem);
  --desktop-layout: calc(1440 / 16 * 1rem) ;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: var(--mobile-layout);
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 20.5rem;
  height: 32rem;
  background-color: var(--white);
  border-top-left-radius: 0.5625rem;
  border-top-right-radius: 0.5625rem;
  border-bottom-left-radius: 0.5625rem;
  border-bottom-right-radius: 0.5625rem;
  font-family: var(--font-family);
}

.image {
  height: 12.5rem;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8125rem;
  padding-block-start: 2.3125rem;
  padding-inline: 1.875rem;
  width: 100%;
  font-size: var(--font-size);
  margin-block-end: 1.875rem;
}

.heading {
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
  line-height: 1.48em;
}

.paragraph {
  line-height: 1.51em;
  padding-inline: 0.1875rem;
  padding-inline-end: 0.4375rem;
  color: var(--desaturated-dark-blue);
}

.writer-container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-inline: 2rem;
  font-size: var(--font-size);
  gap: 0.875rem;
}

.profile-pic {
  width: 2.59375rem;
  border-radius: 12.5rem;
}

.publisher-name-and-date {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 12.5rem;
}

.publisher-name {
  padding-block-start: 0.25rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}

.article-publish-date {
  padding-block-start: 0.125rem;
  font-weight: 500;
  color: var(--grayish-blue);
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 2.8125rem;
  height: 2.0625rem;
  width: 3.4375rem;
  border-radius: 31.25rem;
  background-color: var(--light-grayish-blue);
  padding-block-start: 0.0625rem;
  margin-block-start: 0.125rem;
}

.share {
  width: 0.9375rem;
}

.active {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  inset: 0;
  height: 4.0625rem;
  width: 100%;
  z-index: 1;
  background-color: var(--very-dark-grayish-blue);
  border-bottom-left-radius: 0.5625rem;
  border-bottom-right-radius: 0.5625rem;
}

.icons {
  display: flex;
  gap: 1.25rem;
}

.share-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 1.875rem;
  height: 2.0625rem;
  width: 2.01875rem;
  border-radius: 31.25rem;
  background-color: var(--desaturated-dark-blue);
  padding-block-start: 0.03125rem;
  margin-block-start: 0.125rem;
}

.share-2 {
  color: var(--light-grayish-blue);
  width: 1.1875rem;
}

.share-title {
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--grayish-blue);
  letter-spacing: 0.1em;
}/*# sourceMappingURL=styles.css.map */